 body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
 }
 html{
     height: 100vh;
 }

.margenTop{
    margin-top: 65px;
}
 .orden{
     z-index: 0;
 }
.padtop{
    padding-top: 75px;
}
.padbotom{
    padding-bottom: 50px;
}
.vista{
    height: 85vh;
}

.vistab{
    height: 80vh;
}
.colorb{
    color: #023ef9;
    text-decoration: none;
} 

.color{
    color: white;
    text-decoration: none;
}

.color a:hover{
    font-weight: bold;
    color: white;
}
.colorb:hover{
    color: #023ef9;
    font-weight: bold;
    
}

.borde{
    margin-top: 20px;
    margin-right: 20px;
}

.iconsize {
    font-size: 120px;
}

.iconsizeb {
    font-size: 24px;

}

.tarjeta{
    width: 14rem;
}

.color{
    background-color: #2b2b2b;
}

.colortarjeta{
    background-color: #023ef9;
}
.textoColor{
    color: #023ef9;
}

.colortarjetahover:hover{
    color: #023ef9;
    border: 1px solid #023ef9;
    background-color: #EBEFF2;
} 

.main{
    margin-bottom: 50px;
}

.mainF{
    margin-bottom: 120px;
}

.avatar {
    position: absolute;
    top: -120px;
    width:70%; 
    height:52.3%;
    
}

.iconfooter{
    color: #023ef9;
    font-size: 35px;
}

.iconfooter:hover{
    color: white;
}

/* css modal

/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100 100 0 100;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content1 {
    border-radius: 1%;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    margin-top: 70px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*----------fin css modal---------*/



@media (max-width: 768px) { 
    .iconsize {
        font-size: 60px;
    }
    .tarjeta {
        width: 10rem; 
    }
    .prueba{
        margin-bottom: 20px;
    }
    .avatar {
        top: -98px;
    }
 }

 @media (max-width: 575px) { 
    body{
        font-size: 14px;
    }
    nav{
        font-size: 14px;
    }
    .tarjeta {
        width: 8rem; 
    }
   .columna {
       width: 67%;
   }
   .prueba{
       margin-bottom: 20px;
   }
   .iconfooter{
       font-size: 30px;
   }
 }


